<!-- **********************RODAPÉ********************** -->
<footer>
    <section class=" conteiner rodape">
      <div class="container rodape-box">
        <div class="departamentos">
          <h5>Departamentos</h5>
          <ul>
            <li><a href="#">Computadores</a></li>
            <li><a href="#">Periféricos</a></li>
            <li><a href="#">Jogos</a></li>
            <li><a href="#">Acessórios</a></li>
            <li><a href="#">Smartphones</a></li>
          </ul>
        </div>
        <div class="institucional">
          <h5>Institucional</h5>
          <ul>
            <li><a href="#">Quem Somos</a></li>
            <li><a href="#">Dúvidas Frequentes</a></li>
            <li><a href="#">Trocas e devoluções</a></li>
            <li><a href="#">Segurança e Privacidade</a></li>
            <li><a href="#">Como Comprar</a></li>
          </ul>
        </div>
        <div class="minha-conta">
          <h5>Minha Conta</h5>
          <ul>
            <li><a href="#">Login</a></li>
            <li><a href="#">Pedidos</a></li>
            <li><a href="#">Cadastro</a></li>
          </ul>
        </div>
        <div class="contato">
          <h5>Contato</h5>
          <ul>
            <li>(00)0000-0000</li>
            <li>faleconosco@gamemania.com.br</li>
            <li>Rua das Araucárias, 230 - Florianópolis-SC</li>
          </ul>
        </div>
        <div class="redes-sociais">
          <h5>Redes Sociais</h5>
          <div class="logo-redes-sociais">
            <img class="insta" src="assets/images/logo insta.webp" alt="Logotipo Instagram" width="25px" height="25px">
            <img class="face" src="assets/images/logo face (1).png" alt="Logotipo Facebook" width="25px" height="25px">
            <img class="whats" src="assets/images/logo whats.png" alt="Logotipo Whatsapp" width="25px" height="25px">
          </div>
        </div>
      </div>
    </section>
  </footer>
  <footer id="assinatura">
      <p>&copy; Desenvolvido por Aline Pereira</p>
  </footer>

