  <!-- **********************BANNER********************** -->
  <main>
    <section class="banner">
      <div class="conteiner grid banner-box">
        <div id="imagem-banner" class="conteiner grid imagem-banner">
          <img id="img-banner" src="assets/images/pcgamer.jpg" alt="" width="600px" height="400px">
        </div>
        <img id="img-banner-responsivo" src="assets/images/banneralternativo.png" alt="">
        <div class=" conteiner grid banner-info">
          <h2>Monte Seu PC Gamer</h2>
          <p>Receba seu PC montado e configurado do seu jeito</p>
          <a href="#" class="botao-banner">Saiba Mais</a>
        </div>
      </div>
    </section>
  </main>
  
  <!-- **********************MAIS VENDIDOS********************** -->
  <div id="destaques">
    <div class="container">
      <div class="row">
        <div class="container titulo">
          <h3>Mais vendidos</h3>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col" *ngFor="let destaque of destaques">
          <div class="card">
            <img [src]="destaque.imagem" class="card-img-top" [alt]="'Imagem ' + destaque.titulo">
            <div class="card-body">
              <h5 class="card-title">{{ destaque.titulo }}</h5>
              <p class="card-text">{{ destaque.descricao }}</p>
              <p class="card-text">Preço: {{ destaque.preco | currency:'BRL':'symbol-narrow':'1.2-2' }}</p>
              <a href="#" class="btn btn-primary card-buy">Comprar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

   <!-- **********************SOBRE NÓS********************** -->
 <main>
  <section class="conteiner sobre-nos">
    <div id="imagem-sobre-nos"class="conteiner sobre-nos-box">
      <div  class="conteiner imagem-sobre-nos">
        <img id="imgSobreNos" src="assets/images/let the game begin.png" alt="" width="600px" height="350px">
      </div>
      <div class=" conteiner grid sobre-nos-info">
        <h4>Let The Game Begin</h4>
        <p>Mussum Ipsum, cacilds vidis litro abertis. Admodum accumsan disputationi eu sit. Vide electram sadipscing et
          per.Paisis, filhis, espiritis santis.A ordem dos tratores não altera o pão duris.Todo mundo vê os porris que
          eu tomo, mas ninguém vê os tombis que eu levo!</p>
        <p class="container-p2">Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis
          nisl.Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.Tá deprimidis, eu conheço uma
          cachacis que pode alegrar sua vidis.Quem num gosta di mim que vai caçá sua turmis!</p>
      </div>
    </div>
  </section>
</main>
 
  