<div id="login-container">
  <img src="assets/images/gamemania.png" alt="GameMania Logo">

  <form (ngSubmit)="fazerLogin()" #loginForm="ngForm">
    <label for="email">E-mail</label>
    <input 
      type="email" 
      name="email" 
      id="email"
      placeholder="Digite seu e-mail" 
      autocomplete="off"
      [(ngModel)]="userModel.email"
      #emailModel="ngModel"
      required
      pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
      ngModel>
    <div *ngIf="emailModel.errors && (emailModel.dirty || emailModel.touched)">
      <p *ngIf="emailModel.errors['pattern']">Formato de e-mail inválido.</p>
    </div>

    <label for="password">Senha</label>
    <input 
      type="password" 
      name="password" 
      id="password" 
      placeholder="Digite sua senha"
      [(ngModel)]="userModel.password"
      #passwordModel="ngModel"
      required
      minlength="6"
      ngModel>
      <div *ngIf="passwordModel.errors && (passwordModel.dirty || passwordModel.touched)">
        <p *ngIf="passwordModel.errors['minlength']">
          A senha deve ter pelo menos {{ passwordModel.errors['minlength']?.requiredLength }} caracteres.
          Atualmente tem {{ passwordModel.errors['minlength']?.actualLength }}.
        </p>
      </div>
      

    <br>
    <p id="msgValidacao" name="msgValidacao">{{mensagem}}</p>
    <br><a href="#" id="forgot-pass">Esqueceu a senha?</a>
    <input type="submit" value="Login" [disabled]="!loginForm.form.valid">
  </form>

  <div id="register-container">
    <p>Ainda não tem uma conta?</p>
    <a href="#">Registrar</a>
  </div>
</div>
