<header>
    <div class="container-grid header-flex">
      <div class="container imagem-logo">
        <img src="assets/images/gamemania.png" alt="">
      </div>

      <button class="btn-mobile" id="btn-mobile" onclick="mostrarMenu()">
        <img src="assets/images/hamburger_icon.png" alt="">
      </button>

      <nav class="cotainer menu" id="nav">
        <a routerLink="" class="item-menu">Lançamentos</a>
        <a routerLink="/pc-gamers" class="item-menu">PC Gamers</a>
        <a routerLink="/jogos" class="item-menu">Jogos</a>
        <a routerLink="/notebooks" class="item-menu">Notebooks</a>
        <a routerLink="/celulares" class="item-menu">Celulares</a>
        <a routerLink="/acessorios" class="item-menu">Acessórios</a>
        <a routerLink="" class="item-menu">Contato</a>
        <a *ngIf="logged" (click)="onLogout()"  class="item-menu">Logout</a>
        <a *ngIf="!logged" routerLink="/login" class="item-menu">Login</a>
        <app-clock [horas]="horas" [minutos]="minutos" [segundos]="segundos"></app-clock>
      </nav>
    </div>
  </header>