<div id="destaques">
  <div class="container">
    <div class="row">
      <div class="container titulo">
        <h3>Pc Gamers</h3>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <div class="col" *ngFor="let produto of produtos">
        <div class="card">
          <img [src]="produto.imagem" class="card-img-top" [alt]="'Imagem ' + produto.titulo">
          <div class="card-body">
            <h5 class="card-title">{{ produto.titulo }}</h5>
            <p class="card-text">{{ produto.descricao }}</p>
            <p class="card-text">Preço: {{ produto.preco | currency:'BRL':'symbol-narrow':'1.2-2' }}</p>
            <a href="#" class="btn btn-primary card-buy">Comprar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
