@font-face {
    font-family: "roboto regular" ;
    src: url(assets/fonts/Roboto-Regular.ttf);
  }
  
  @font-face {
    font-family: "titiliumweb" ;
    src: url(assets/fonts/TitilliumWeb-Regular.ttf);
  }
  
  
   /************** MENU - CABEÇALHO  **************/
  
    *{
      margin:0;
      padding: 0;
      box-sizing: border-box;
    }
  
    body{
      background-image: linear-gradient(90deg, #211818, #0099ca);
    }
