<div id="destaques">
    <div class="container">
      <div class="row">
        <div class="container titulo">
          <h3>Notebooks</h3>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card">
            <img src="assets/images/notebook.jpg" class="card-img-top" alt="Imagem Produto 1">
            <div class="card-body">
              <h5 class="card-title">Produto em Destaque</h5>
              <p class="card-text">Descrição do Produto</p>
              <a href="#" class="btn btn-primary card-buy">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/images/notebook.jpg" class="card-img-top" alt="Imagem Produto 2">
            <div class="card-body">
              <h5 class="card-title">Produto em Destaque</h5>
              <p class="card-text">Descrição do Produto</p>
              <a href="#" class="btn btn-primary card-buy">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/images/notebook.jpg" class="card-img-top" alt="Imagem Produto 3">
            <div class="card-body">
              <h5 class="card-title">Produto em destaque</h5>
              <p class="card-text">Descrição do Produto</p>
              <a href="#" class="btn btn-primary card-buy">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/images/notebook.jpg" class="card-img-top" alt="Imagem Produto 4">
            <div class="card-body">
              <h5 class="card-title">Produto em Destaque</h5>
              <p class="card-text">Descrição do Produto</p>
              <a href="#" class="btn btn-primary card-buy">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/images/notebook.jpg" class="card-img-top" alt="Imagem Produto 5">
            <div class="card-body">
              <h5 class="card-title">Produto em destaque</h5>
              <p class="card-text">Descrição do Produto</p>
              <a href="#" class="btn btn-primary card-buy">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/images/notebook.jpg" class="card-img-top" alt="Imagem Produto 6">
            <div class="card-body">
              <h5 class="card-title">Produto em Destaque</h5>
              <p class="card-text">Descrição do Produto</p>
              <a href="#" class="btn btn-primary card-buy">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/images/notebook.jpg" class="card-img-top" alt="Imagem Produto 7">
            <div class="card-body">
              <h5 class="card-title">Produto em Destaque</h5>
              <p class="card-text">Descrição do Produto</p>
              <a href="#" class="btn btn-primary card-buy">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/images/notebook.jpg" class="card-img-top" alt="Imagem Produto 8">
            <div class="card-body">
              <h5 class="card-title">Produto em Destaque</h5>
              <p class="card-text">Descrição do Produto</p>
              <a href="#" class="btn btn-primary card-buy">Comprar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

